In [2]:
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns


%matplotlib inline

In [3]:
loans= pd.read_csv('kiva_loans.csv',parse_dates=['date'])

In [4]:
loans.head()

,id,funded_amount,loan_amount,activity,sector,use,country_code,country,region,currency,partner_id,posted_time,disbursed_time,funded_time,term_in_months,lender_count,tags,borrower_genders,repayment_interval,date
0,653051,300.0,300.0,Fruits & Vegetables,Food,"To buy seasonal, fresh fruits to sell.",PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:12:39+00:00,2013-12-17 08:00:00+00:00,2014-01-02 10:06:32+00:00,12.0,12,NaN,female,irregular,2014-01-01
1,653053,575.0,575.0,Rickshaw,Transportation,to repair and maintain the auto rickshaw used ...,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:51:08+00:00,2013-12-17 08:00:00+00:00,2014-01-02 09:17:23+00:00,11.0,14,NaN,"female, female",irregular,2014-01-01
2,653068,150.0,150.0,Transportation,Transportation,To repair their old cycle-van and buy another ...,IN,India,Maynaguri,INR,334.0,2014-01-01 09:58:07+00:00,2013-12-17 08:00:00+00:00,2014-01-01 16:01:36+00:00,43.0,6,"user_favorite, user_favorite",female,bullet,2014-01-01
3,653063,200.0,200.0,Embroidery,Arts,to purchase an embroidery machine and a variet...,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 08:03:11+00:00,2013-12-24 08:00:00+00:00,2014-01-01 13:00:00+00:00,11.0,8,NaN,female,irregular,2014-01-01
4,653084,400.0,400.0,Milk Sales,Food,to purchase one buffalo.,PK,Pakistan,Abdul Hakeem,PKR,245.0,2014-01-01 11:53:19+00:00,2013-12-17 08:00:00+00:00,2014-01-01 19:18:51+00:00,14.0,16,NaN,female,monthly,2014-01-01

# Univariate Analysis

## 1D

One of the quickest and most effective ways to visualize all numeric data and their distributions, is to leverage histograms using pandas

### Histogram

### Top sectors in which more loans were given

In [ ]:
plt.figure(figsize=(15,8))
sector_name = loans['sector'].value_counts() #loans count per sector 
sns.barplot(sector_name.values, sector_name.index)

for i, v in enumerate(sector_name.values):
    plt.text(0.8,i,v,color='k',fontsize=19)
    
plt.xticks(rotation='vertical')
plt.xlabel('Sector Name')
plt.ylabel('Number of loans were given')
plt.title("Top sectors in which more loans were given")
plt.show()

#### Challenge: Types of repayment intervals

###  Density Plot

### Lender Count Distribution

In [ ]:
sns.kdeplot(loans['lender_count'][:10])

# Multivariate Analysis

Multivariate analysis not only involves just checking out distributions but also potential relationships, patterns and correlations amongst these attributes.

The gradients in the heatmap vary based on the strength of the correlation and you can clearly see it is very easy to spot potential attributes having strong correlations amongst themselves.

## Correlation Matrix and Heatmap

In [ ]:
f, ax = plt.subplots(figsize=(10, 6))
corr = loans.corr()
hm = sns.heatmap(round(corr,2), annot=True, ax=ax, cmap="coolwarm",fmt='.2f',
                 linewidths=.05)
f.subplots_adjust(top=0.93)
t= f.suptitle('Loans Attributes Correlation Heatmap', fontsize=14)

## Pair-wise Scatter plots

In [ ]:
#Pair-wise Scatter plots
cols = ['funded_amount','lender_count'] 
pp = sns.pairplot(loans[cols][:5],size=1.8, aspect=1.8,
                  plot_kws=dict(edgecolor="k", linewidth=0.5),
                  diag_kind="kde", diag_kws=dict(shade=True))

#### challenge: plot weak correlations